{{#docs-viewer as |viewer|}}
  {{#viewer.nav as |nav|}}
    {{#each tableOfContents as |entry|}}
      {{#if entry.section}}
        {{nav.section entry.section}}
      {{else}}
        {{nav.item entry.title entry.route}}

        {{#if entry.children}}
          {{#nav.subnav as |subnav|}}
            {{#each entry.children as |child|}}
              {{subnav.item child.title child.route}}
            {{/each}}
          {{/nav.subnav}}
        {{/if}}
      {{/if}}
    {{/each}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{github-edit}}
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}
{{/docs-viewer}}
