<h2>Experimental: EncapsulatedTasks</h2>

<p>
  Normally, you define tasks by passing a generator function to <code>task(...)</code>.
  Sometimes though, blah blah blah here is an example.
</p>

<h2>Live Example</h2>

{{#docs-demo as |demo|}}
  {{#demo.example name='encapsulated-task-fun-template.hbs'}}
    <p>
      <button class="button" onclick={{perform doStuff}}>
        Do Stuff
      </button>
    </p>

    {{#with doStuff.last as |t|}}
      <h4>value: {{t.value}}</h4>
      <h4>foo:   {{t.foo.last.value}}</h4>
      <h4>bar:   {{t.bar.last.value}}</h4>
      <h4>baz:   {{t.baz.last.value}}</h4>
    {{/with}}
  {{/demo.example}}

  {{demo.snippet "encapsulated-task-fun-controller.js"}}
  {{demo.snippet "encapsulated-task-fun-template.hbs"}}
{{/docs-demo}}
